<div id="content">

    <div id="post-view">

    </div>

    <hr>

    <h2 id = "response">~ Response ~</h2>

    <div id="comments">
        <textarea id="commentbox" cols="30" rows="10" placeholder = "Comment..."></textarea>
        <button id = "submit-comment">Submit</button>
        <br>
    </div>
</div>


<script src="/js/post.js"></script>